body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 100px;

    background-color: black;
}

main{
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 15px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}
#output {
    align-items: flex-end;

    height: auto;
    font-size: 80px;
    color: white;
    
}



button {
    border-style: unset;
    border-radius: 50px;

    margin: 5px;
    width: 100px;
    height: 100px;

    font-size: large;
} 
.number{

}
.special {
    background-color: #70757d;
}
.operator {
    background-color: #c26400;
}



.hoverEffect {
    border-style: solid;
    border-color: red;
}










